_site
.sass-cache
.jekyll-metadata
vendor/bundle
api/
calendar/
.idea/
.jekyll-cache
_data/gke.json
.bundle/
*.swp
.vscode/*
.history/
*.vsix
.history
.ionide
.vscode/*.code-snippets
*.code-workspace
node_modules
.DS_Store
.venv
