// Overriding styles for some of our pages
// This gets compiled into the final CSS
// The file path comes from what the upstream allows:
// https://just-the-docs.github.io/just-the-docs/docs/customization/#override-and-completely-custom-styles

.bg-red-000, .bg-yellow-200, .bg-green-000, .bg-grey-lt-100, .site-footer {
  color: #1c1c1c;
}

a {
  color: #6c4dec;
}

.description {
  >blockquote {
    margin-left: 60px;
  }
  >p {
    &:nth-of-type(1) {
      clear: both;
    }
  }
  // Icons are 50x50, so this adds another 10 pixels
  min-height: 60px;
}
.product-logo {
  float: left;
  margin-right: .5em;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.txt-linethrough {
  text-decoration: line-through;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
