{%- assign has_parameters = false -%}

{%- for parameter in include.parameters -%}
  {%- if parameter.in == include.in -%}
    {%- assign has_parameters = true -%}
  {%- endif -%}
{%- endfor -%}

{%- if has_parameters -%}
  <h3 class="h6 mt-4">{{ include.in | capitalize }} Parameters</h3>
  <div class="border rounded mb-3">
    <table class="table table-striped m-0">
      <tbody>
        {%- for parameter in include.parameters -%}
          {%- if parameter.in == include.in -%}
            <tr>
              <td class="text-monospace">{{- parameter.name -}}</td>
              <td class="text-right">
                {%- if parameter.required -%}
                  <small class="border border-danger rounded text-danger px-2 py-1">required</small>
                {%- else -%}
                  <small class="border border-secondary rounded text-secondary px-2 py-1">optional</small>
                {%- endif -%}
              </td>
            </tr>
            <tr>
              <td colspan="2">{{- parameter.description | markdownify -}}</td>
            </tr>
          {%- endif -%}
        {%- endfor -%}
      </tbody>
    </table>
  </div>
{%- endif -%}
