{%- assign response_status_code = include.response[0] -%}
<pre class="bg-black text-light m-0 p-3"><span class="d-block">{{ response_status_code | capitalize }} {% include utils/response_status_code.html response_status_code=response_status_code %}</span>
  {%- for content in include.response[1].content -%}
    <span class="d-block">Content-Type: {{ content[0] }}</span>
    {%- assign schema = content[1].schema -%}
    {%- assign examples = content[1].examples -%}
    {%- assign slice = content[0] | slice: -4, 4 | downcase -%}
    <code class="response language-json d-block mt-3">
      {%- if slice == 'json' -%}
        {%- include schema.html schema=schema -%}
      {%- else -%}
        {{- schema -}}
      {%- endif -%}
    </code>
    {%- for example in examples -%}
      <span class="d-block mb-0 px-3 pt-3 text-white-50">Example: {{ example[0] }}</span><code class="response language-json d-block mt-1">{{example[1].value|jsonify}}</code>
    {%- endfor -%}
  {%- endfor -%}
</pre>
