---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

$navbar-height: $navbar-brand-height + ($navbar-brand-padding-y * 2) + ($navbar-padding-y * 2) !default;
$offset-top: $navbar-height + map-get($spacers, 4) !default;

nav {
  padding-top: $offset-top;
  padding-bottom: map-get($spacers, 4);
}

nav .nav-link span {
  min-width: 3rem;
}

.bg-black {
  background-color: $gray-900 !important;
}

.max-vh-50 {
  max-height: 50vh !important
}

.navbar {
  z-index: 9999;
}

.offset-top {
  margin-top: -($offset-top);
  padding-top: $offset-top;
}

.response .token.operator,
.response .token.punctuation {
  color: $light;
}

.response .token.boolean,
.response .token.keyword,
.response .token.null,
.response .token.number {
  color: $warning;
}

.response .token.property {
  color: $danger;
}

.response .token.string {
  color: $success;
}
