{%- case include.response_status_code -%}
  {%- when '100' -%}
    Continue
  {%- when '101' -%}
    Switching Protocols
  {%- when '102' -%}
    Processing
  {%- when '103' -%}
    Early Hints
  {%- when '104' -%}
    Unassigned
  {%- when '105' -%}
    Unassigned
  {%- when '106' -%}
    Unassigned
  {%- when '107' -%}
    Unassigned
  {%- when '108' -%}
    Unassigned
  {%- when '109' -%}
    Unassigned
  {%- when '110' -%}
    Unassigned
  {%- when '111' -%}
    Unassigned
  {%- when '112' -%}
    Unassigned
  {%- when '113' -%}
    Unassigned
  {%- when '114' -%}
    Unassigned
  {%- when '115' -%}
    Unassigned
  {%- when '116' -%}
    Unassigned
  {%- when '117' -%}
    Unassigned
  {%- when '118' -%}
    Unassigned
  {%- when '119' -%}
    Unassigned
  {%- when '120' -%}
    Unassigned
  {%- when '121' -%}
    Unassigned
  {%- when '122' -%}
    Unassigned
  {%- when '123' -%}
    Unassigned
  {%- when '124' -%}
    Unassigned
  {%- when '125' -%}
    Unassigned
  {%- when '126' -%}
    Unassigned
  {%- when '127' -%}
    Unassigned
  {%- when '128' -%}
    Unassigned
  {%- when '129' -%}
    Unassigned
  {%- when '130' -%}
    Unassigned
  {%- when '131' -%}
    Unassigned
  {%- when '132' -%}
    Unassigned
  {%- when '133' -%}
    Unassigned
  {%- when '134' -%}
    Unassigned
  {%- when '135' -%}
    Unassigned
  {%- when '136' -%}
    Unassigned
  {%- when '137' -%}
    Unassigned
  {%- when '138' -%}
    Unassigned
  {%- when '139' -%}
    Unassigned
  {%- when '140' -%}
    Unassigned
  {%- when '141' -%}
    Unassigned
  {%- when '142' -%}
    Unassigned
  {%- when '143' -%}
    Unassigned
  {%- when '144' -%}
    Unassigned
  {%- when '145' -%}
    Unassigned
  {%- when '146' -%}
    Unassigned
  {%- when '147' -%}
    Unassigned
  {%- when '148' -%}
    Unassigned
  {%- when '149' -%}
    Unassigned
  {%- when '150' -%}
    Unassigned
  {%- when '151' -%}
    Unassigned
  {%- when '152' -%}
    Unassigned
  {%- when '153' -%}
    Unassigned
  {%- when '154' -%}
    Unassigned
  {%- when '155' -%}
    Unassigned
  {%- when '156' -%}
    Unassigned
  {%- when '157' -%}
    Unassigned
  {%- when '158' -%}
    Unassigned
  {%- when '159' -%}
    Unassigned
  {%- when '160' -%}
    Unassigned
  {%- when '161' -%}
    Unassigned
  {%- when '162' -%}
    Unassigned
  {%- when '163' -%}
    Unassigned
  {%- when '164' -%}
    Unassigned
  {%- when '165' -%}
    Unassigned
  {%- when '166' -%}
    Unassigned
  {%- when '167' -%}
    Unassigned
  {%- when '168' -%}
    Unassigned
  {%- when '169' -%}
    Unassigned
  {%- when '170' -%}
    Unassigned
  {%- when '171' -%}
    Unassigned
  {%- when '172' -%}
    Unassigned
  {%- when '173' -%}
    Unassigned
  {%- when '174' -%}
    Unassigned
  {%- when '175' -%}
    Unassigned
  {%- when '176' -%}
    Unassigned
  {%- when '177' -%}
    Unassigned
  {%- when '178' -%}
    Unassigned
  {%- when '179' -%}
    Unassigned
  {%- when '180' -%}
    Unassigned
  {%- when '181' -%}
    Unassigned
  {%- when '182' -%}
    Unassigned
  {%- when '183' -%}
    Unassigned
  {%- when '184' -%}
    Unassigned
  {%- when '185' -%}
    Unassigned
  {%- when '186' -%}
    Unassigned
  {%- when '187' -%}
    Unassigned
  {%- when '188' -%}
    Unassigned
  {%- when '189' -%}
    Unassigned
  {%- when '190' -%}
    Unassigned
  {%- when '191' -%}
    Unassigned
  {%- when '192' -%}
    Unassigned
  {%- when '193' -%}
    Unassigned
  {%- when '194' -%}
    Unassigned
  {%- when '195' -%}
    Unassigned
  {%- when '196' -%}
    Unassigned
  {%- when '197' -%}
    Unassigned
  {%- when '198' -%}
    Unassigned
  {%- when '199' -%}
    Unassigned
  {%- when '200' -%}
    OK
  {%- when '201' -%}
    Created
  {%- when '202' -%}
    Accepted
  {%- when '203' -%}
    Non-Authoritative Information
  {%- when '204' -%}
    No Content
  {%- when '205' -%}
    Reset Content
  {%- when '206' -%}
    Partial Content
  {%- when '207' -%}
    Multi-Status
  {%- when '208' -%}
    Already Reported
  {%- when '209' -%}
    Unassigned
  {%- when '210' -%}
    Unassigned
  {%- when '211' -%}
    Unassigned
  {%- when '212' -%}
    Unassigned
  {%- when '213' -%}
    Unassigned
  {%- when '214' -%}
    Unassigned
  {%- when '215' -%}
    Unassigned
  {%- when '216' -%}
    Unassigned
  {%- when '217' -%}
    Unassigned
  {%- when '218' -%}
    Unassigned
  {%- when '219' -%}
    Unassigned
  {%- when '220' -%}
    Unassigned
  {%- when '221' -%}
    Unassigned
  {%- when '222' -%}
    Unassigned
  {%- when '223' -%}
    Unassigned
  {%- when '224' -%}
    Unassigned
  {%- when '225' -%}
    Unassigned
  {%- when '226' -%}
    IM Used
  {%- when '227' -%}
    Unassigned
  {%- when '228' -%}
    Unassigned
  {%- when '229' -%}
    Unassigned
  {%- when '230' -%}
    Unassigned
  {%- when '231' -%}
    Unassigned
  {%- when '232' -%}
    Unassigned
  {%- when '233' -%}
    Unassigned
  {%- when '234' -%}
    Unassigned
  {%- when '235' -%}
    Unassigned
  {%- when '236' -%}
    Unassigned
  {%- when '237' -%}
    Unassigned
  {%- when '238' -%}
    Unassigned
  {%- when '239' -%}
    Unassigned
  {%- when '240' -%}
    Unassigned
  {%- when '241' -%}
    Unassigned
  {%- when '242' -%}
    Unassigned
  {%- when '243' -%}
    Unassigned
  {%- when '244' -%}
    Unassigned
  {%- when '245' -%}
    Unassigned
  {%- when '246' -%}
    Unassigned
  {%- when '247' -%}
    Unassigned
  {%- when '248' -%}
    Unassigned
  {%- when '249' -%}
    Unassigned
  {%- when '250' -%}
    Unassigned
  {%- when '251' -%}
    Unassigned
  {%- when '252' -%}
    Unassigned
  {%- when '253' -%}
    Unassigned
  {%- when '254' -%}
    Unassigned
  {%- when '255' -%}
    Unassigned
  {%- when '256' -%}
    Unassigned
  {%- when '257' -%}
    Unassigned
  {%- when '258' -%}
    Unassigned
  {%- when '259' -%}
    Unassigned
  {%- when '260' -%}
    Unassigned
  {%- when '261' -%}
    Unassigned
  {%- when '262' -%}
    Unassigned
  {%- when '263' -%}
    Unassigned
  {%- when '264' -%}
    Unassigned
  {%- when '265' -%}
    Unassigned
  {%- when '266' -%}
    Unassigned
  {%- when '267' -%}
    Unassigned
  {%- when '268' -%}
    Unassigned
  {%- when '269' -%}
    Unassigned
  {%- when '270' -%}
    Unassigned
  {%- when '271' -%}
    Unassigned
  {%- when '272' -%}
    Unassigned
  {%- when '273' -%}
    Unassigned
  {%- when '274' -%}
    Unassigned
  {%- when '275' -%}
    Unassigned
  {%- when '276' -%}
    Unassigned
  {%- when '277' -%}
    Unassigned
  {%- when '278' -%}
    Unassigned
  {%- when '279' -%}
    Unassigned
  {%- when '280' -%}
    Unassigned
  {%- when '281' -%}
    Unassigned
  {%- when '282' -%}
    Unassigned
  {%- when '283' -%}
    Unassigned
  {%- when '284' -%}
    Unassigned
  {%- when '285' -%}
    Unassigned
  {%- when '286' -%}
    Unassigned
  {%- when '287' -%}
    Unassigned
  {%- when '288' -%}
    Unassigned
  {%- when '289' -%}
    Unassigned
  {%- when '290' -%}
    Unassigned
  {%- when '291' -%}
    Unassigned
  {%- when '292' -%}
    Unassigned
  {%- when '293' -%}
    Unassigned
  {%- when '294' -%}
    Unassigned
  {%- when '295' -%}
    Unassigned
  {%- when '296' -%}
    Unassigned
  {%- when '297' -%}
    Unassigned
  {%- when '298' -%}
    Unassigned
  {%- when '299' -%}
    Unassigned
  {%- when '300' -%}
    Multiple Choices
  {%- when '301' -%}
    Moved Permanently
  {%- when '302' -%}
    Found
  {%- when '303' -%}
    See Other
  {%- when '304' -%}
    Not Modified
  {%- when '305' -%}
    Use Proxy
  {%- when '306' -%}
    (Unused)
  {%- when '307' -%}
    Temporary Redirect
  {%- when '308' -%}
    Permanent Redirect
  {%- when '309' -%}
    Unassigned
  {%- when '310' -%}
    Unassigned
  {%- when '311' -%}
    Unassigned
  {%- when '312' -%}
    Unassigned
  {%- when '313' -%}
    Unassigned
  {%- when '314' -%}
    Unassigned
  {%- when '315' -%}
    Unassigned
  {%- when '316' -%}
    Unassigned
  {%- when '317' -%}
    Unassigned
  {%- when '318' -%}
    Unassigned
  {%- when '319' -%}
    Unassigned
  {%- when '320' -%}
    Unassigned
  {%- when '321' -%}
    Unassigned
  {%- when '322' -%}
    Unassigned
  {%- when '323' -%}
    Unassigned
  {%- when '324' -%}
    Unassigned
  {%- when '325' -%}
    Unassigned
  {%- when '326' -%}
    Unassigned
  {%- when '327' -%}
    Unassigned
  {%- when '328' -%}
    Unassigned
  {%- when '329' -%}
    Unassigned
  {%- when '330' -%}
    Unassigned
  {%- when '331' -%}
    Unassigned
  {%- when '332' -%}
    Unassigned
  {%- when '333' -%}
    Unassigned
  {%- when '334' -%}
    Unassigned
  {%- when '335' -%}
    Unassigned
  {%- when '336' -%}
    Unassigned
  {%- when '337' -%}
    Unassigned
  {%- when '338' -%}
    Unassigned
  {%- when '339' -%}
    Unassigned
  {%- when '340' -%}
    Unassigned
  {%- when '341' -%}
    Unassigned
  {%- when '342' -%}
    Unassigned
  {%- when '343' -%}
    Unassigned
  {%- when '344' -%}
    Unassigned
  {%- when '345' -%}
    Unassigned
  {%- when '346' -%}
    Unassigned
  {%- when '347' -%}
    Unassigned
  {%- when '348' -%}
    Unassigned
  {%- when '349' -%}
    Unassigned
  {%- when '350' -%}
    Unassigned
  {%- when '351' -%}
    Unassigned
  {%- when '352' -%}
    Unassigned
  {%- when '353' -%}
    Unassigned
  {%- when '354' -%}
    Unassigned
  {%- when '355' -%}
    Unassigned
  {%- when '356' -%}
    Unassigned
  {%- when '357' -%}
    Unassigned
  {%- when '358' -%}
    Unassigned
  {%- when '359' -%}
    Unassigned
  {%- when '360' -%}
    Unassigned
  {%- when '361' -%}
    Unassigned
  {%- when '362' -%}
    Unassigned
  {%- when '363' -%}
    Unassigned
  {%- when '364' -%}
    Unassigned
  {%- when '365' -%}
    Unassigned
  {%- when '366' -%}
    Unassigned
  {%- when '367' -%}
    Unassigned
  {%- when '368' -%}
    Unassigned
  {%- when '369' -%}
    Unassigned
  {%- when '370' -%}
    Unassigned
  {%- when '371' -%}
    Unassigned
  {%- when '372' -%}
    Unassigned
  {%- when '373' -%}
    Unassigned
  {%- when '374' -%}
    Unassigned
  {%- when '375' -%}
    Unassigned
  {%- when '376' -%}
    Unassigned
  {%- when '377' -%}
    Unassigned
  {%- when '378' -%}
    Unassigned
  {%- when '379' -%}
    Unassigned
  {%- when '380' -%}
    Unassigned
  {%- when '381' -%}
    Unassigned
  {%- when '382' -%}
    Unassigned
  {%- when '383' -%}
    Unassigned
  {%- when '384' -%}
    Unassigned
  {%- when '385' -%}
    Unassigned
  {%- when '386' -%}
    Unassigned
  {%- when '387' -%}
    Unassigned
  {%- when '388' -%}
    Unassigned
  {%- when '389' -%}
    Unassigned
  {%- when '390' -%}
    Unassigned
  {%- when '391' -%}
    Unassigned
  {%- when '392' -%}
    Unassigned
  {%- when '393' -%}
    Unassigned
  {%- when '394' -%}
    Unassigned
  {%- when '395' -%}
    Unassigned
  {%- when '396' -%}
    Unassigned
  {%- when '397' -%}
    Unassigned
  {%- when '398' -%}
    Unassigned
  {%- when '399' -%}
    Unassigned
  {%- when '400' -%}
    Bad Request
  {%- when '401' -%}
    Unauthorized
  {%- when '402' -%}
    Payment Required
  {%- when '403' -%}
    Forbidden
  {%- when '404' -%}
    Not Found
  {%- when '405' -%}
    Method Not Allowed
  {%- when '406' -%}
    Not Acceptable
  {%- when '407' -%}
    Proxy Authentication Required
  {%- when '408' -%}
    Request Timeout
  {%- when '409' -%}
    Conflict
  {%- when '410' -%}
    Gone
  {%- when '411' -%}
    Length Required
  {%- when '412' -%}
    Precondition Failed
  {%- when '413' -%}
    Payload Too Large
  {%- when '414' -%}
    URI Too Long
  {%- when '415' -%}
    Unsupported Media Type
  {%- when '416' -%}
    Range Not Satisfiable
  {%- when '417' -%}
    Expectation Failed
  {%- when '418' -%}
    Unassigned
  {%- when '419' -%}
    Unassigned
  {%- when '420' -%}
    Unassigned
  {%- when '421' -%}
    Misdirected Request
  {%- when '422' -%}
    Unprocessable Entity
  {%- when '423' -%}
    Locked
  {%- when '424' -%}
    Failed Dependency
  {%- when '425' -%}
    Too Early
  {%- when '426' -%}
    Upgrade Required
  {%- when '427' -%}
    Unassigned
  {%- when '428' -%}
    Precondition Required
  {%- when '429' -%}
    Too Many Requests
  {%- when '430' -%}
    Unassigned
  {%- when '431' -%}
    Request Header Fields Too Large
  {%- when '432' -%}
    Unassigned
  {%- when '433' -%}
    Unassigned
  {%- when '434' -%}
    Unassigned
  {%- when '435' -%}
    Unassigned
  {%- when '436' -%}
    Unassigned
  {%- when '437' -%}
    Unassigned
  {%- when '438' -%}
    Unassigned
  {%- when '439' -%}
    Unassigned
  {%- when '440' -%}
    Unassigned
  {%- when '441' -%}
    Unassigned
  {%- when '442' -%}
    Unassigned
  {%- when '443' -%}
    Unassigned
  {%- when '444' -%}
    Unassigned
  {%- when '445' -%}
    Unassigned
  {%- when '446' -%}
    Unassigned
  {%- when '447' -%}
    Unassigned
  {%- when '448' -%}
    Unassigned
  {%- when '449' -%}
    Unassigned
  {%- when '450' -%}
    Unassigned
  {%- when '451' -%}
    Unavailable For Legal Reasons
  {%- when '452' -%}
    Unassigned
  {%- when '453' -%}
    Unassigned
  {%- when '454' -%}
    Unassigned
  {%- when '455' -%}
    Unassigned
  {%- when '456' -%}
    Unassigned
  {%- when '457' -%}
    Unassigned
  {%- when '458' -%}
    Unassigned
  {%- when '459' -%}
    Unassigned
  {%- when '460' -%}
    Unassigned
  {%- when '461' -%}
    Unassigned
  {%- when '462' -%}
    Unassigned
  {%- when '463' -%}
    Unassigned
  {%- when '464' -%}
    Unassigned
  {%- when '465' -%}
    Unassigned
  {%- when '466' -%}
    Unassigned
  {%- when '467' -%}
    Unassigned
  {%- when '468' -%}
    Unassigned
  {%- when '469' -%}
    Unassigned
  {%- when '470' -%}
    Unassigned
  {%- when '471' -%}
    Unassigned
  {%- when '472' -%}
    Unassigned
  {%- when '473' -%}
    Unassigned
  {%- when '474' -%}
    Unassigned
  {%- when '475' -%}
    Unassigned
  {%- when '476' -%}
    Unassigned
  {%- when '477' -%}
    Unassigned
  {%- when '478' -%}
    Unassigned
  {%- when '479' -%}
    Unassigned
  {%- when '480' -%}
    Unassigned
  {%- when '481' -%}
    Unassigned
  {%- when '482' -%}
    Unassigned
  {%- when '483' -%}
    Unassigned
  {%- when '484' -%}
    Unassigned
  {%- when '485' -%}
    Unassigned
  {%- when '486' -%}
    Unassigned
  {%- when '487' -%}
    Unassigned
  {%- when '488' -%}
    Unassigned
  {%- when '489' -%}
    Unassigned
  {%- when '490' -%}
    Unassigned
  {%- when '491' -%}
    Unassigned
  {%- when '492' -%}
    Unassigned
  {%- when '493' -%}
    Unassigned
  {%- when '494' -%}
    Unassigned
  {%- when '495' -%}
    Unassigned
  {%- when '496' -%}
    Unassigned
  {%- when '497' -%}
    Unassigned
  {%- when '498' -%}
    Unassigned
  {%- when '499' -%}
    Unassigned
  {%- when '500' -%}
    Internal Server Error
  {%- when '501' -%}
    Not Implemented
  {%- when '502' -%}
    Bad Gateway
  {%- when '503' -%}
    Service Unavailable
  {%- when '504' -%}
    Gateway Timeout
  {%- when '505' -%}
    HTTP Version Not Supported
  {%- when '506' -%}
    Variant Also Negotiates
  {%- when '507' -%}
    Insufficient Storage
  {%- when '508' -%}
    Loop Detected
  {%- when '509' -%}
    Unassigned
  {%- when '510' -%}
    Not Extended
  {%- when '511' -%}
    Network Authentication Required
  {%- when '512' -%}
    Unassigned
  {%- when '513' -%}
    Unassigned
  {%- when '514' -%}
    Unassigned
  {%- when '515' -%}
    Unassigned
  {%- when '516' -%}
    Unassigned
  {%- when '517' -%}
    Unassigned
  {%- when '518' -%}
    Unassigned
  {%- when '519' -%}
    Unassigned
  {%- when '520' -%}
    Unassigned
  {%- when '521' -%}
    Unassigned
  {%- when '522' -%}
    Unassigned
  {%- when '523' -%}
    Unassigned
  {%- when '524' -%}
    Unassigned
  {%- when '525' -%}
    Unassigned
  {%- when '526' -%}
    Unassigned
  {%- when '527' -%}
    Unassigned
  {%- when '528' -%}
    Unassigned
  {%- when '529' -%}
    Unassigned
  {%- when '530' -%}
    Unassigned
  {%- when '531' -%}
    Unassigned
  {%- when '532' -%}
    Unassigned
  {%- when '533' -%}
    Unassigned
  {%- when '534' -%}
    Unassigned
  {%- when '535' -%}
    Unassigned
  {%- when '536' -%}
    Unassigned
  {%- when '537' -%}
    Unassigned
  {%- when '538' -%}
    Unassigned
  {%- when '539' -%}
    Unassigned
  {%- when '540' -%}
    Unassigned
  {%- when '541' -%}
    Unassigned
  {%- when '542' -%}
    Unassigned
  {%- when '543' -%}
    Unassigned
  {%- when '544' -%}
    Unassigned
  {%- when '545' -%}
    Unassigned
  {%- when '546' -%}
    Unassigned
  {%- when '547' -%}
    Unassigned
  {%- when '548' -%}
    Unassigned
  {%- when '549' -%}
    Unassigned
  {%- when '550' -%}
    Unassigned
  {%- when '551' -%}
    Unassigned
  {%- when '552' -%}
    Unassigned
  {%- when '553' -%}
    Unassigned
  {%- when '554' -%}
    Unassigned
  {%- when '555' -%}
    Unassigned
  {%- when '556' -%}
    Unassigned
  {%- when '557' -%}
    Unassigned
  {%- when '558' -%}
    Unassigned
  {%- when '559' -%}
    Unassigned
  {%- when '560' -%}
    Unassigned
  {%- when '561' -%}
    Unassigned
  {%- when '562' -%}
    Unassigned
  {%- when '563' -%}
    Unassigned
  {%- when '564' -%}
    Unassigned
  {%- when '565' -%}
    Unassigned
  {%- when '566' -%}
    Unassigned
  {%- when '567' -%}
    Unassigned
  {%- when '568' -%}
    Unassigned
  {%- when '569' -%}
    Unassigned
  {%- when '570' -%}
    Unassigned
  {%- when '571' -%}
    Unassigned
  {%- when '572' -%}
    Unassigned
  {%- when '573' -%}
    Unassigned
  {%- when '574' -%}
    Unassigned
  {%- when '575' -%}
    Unassigned
  {%- when '576' -%}
    Unassigned
  {%- when '577' -%}
    Unassigned
  {%- when '578' -%}
    Unassigned
  {%- when '579' -%}
    Unassigned
  {%- when '580' -%}
    Unassigned
  {%- when '581' -%}
    Unassigned
  {%- when '582' -%}
    Unassigned
  {%- when '583' -%}
    Unassigned
  {%- when '584' -%}
    Unassigned
  {%- when '585' -%}
    Unassigned
  {%- when '586' -%}
    Unassigned
  {%- when '587' -%}
    Unassigned
  {%- when '588' -%}
    Unassigned
  {%- when '589' -%}
    Unassigned
  {%- when '590' -%}
    Unassigned
  {%- when '591' -%}
    Unassigned
  {%- when '592' -%}
    Unassigned
  {%- when '593' -%}
    Unassigned
  {%- when '594' -%}
    Unassigned
  {%- when '595' -%}
    Unassigned
  {%- when '596' -%}
    Unassigned
  {%- when '597' -%}
    Unassigned
  {%- when '598' -%}
    Unassigned
  {%- when '599' -%}
    Unassigned
{%- endcase -%}