---
layout: default
---

{% if page.releaseImage %}
<img alt="Release Schedule Image Gantt Chart for {{page.title}}" src="{{page.releaseImage}}" />
{% endif %}

{% capture now %}{{ "now" | date: "%s" | plus:0 }}{% endcapture %}

<table class="lifecycle">
  <thead>
    <tr>
      <th>Version</th>
      {% if page.releaseDateColumn%}<th>Released</th>{% endif %}
      {% if page.discontinuedColumn%}<th>Discontinued</th>{% endif %}
      {% if page.activeSupportColumn%}<th>Active Support</th>{% endif %}
      <th>{{ page.eolColumn | default: "Security Support" }}</th>
      {% if page.releaseColumn != false %}<th>Release</th>{% endif %}
    </tr>
  </thead>
{% assign sorted_releases = page.releases | sort: page.sortReleasesBy | reverse  %}
{% for r in sorted_releases %}
{% assign support =r.support | date: '%s' | plus:0 %}
{% assign securityFixes = r.eol | date: '%s' | plus:0 %}


{% comment %}
diff is the number of days towards EoL. Positive is in the future. Negative is in the past.
In case we don't have an exact date, we use boolean values (true/false) instead. In such
cases diff is set to -1 for true (EoL has been reached)
or +1 (EoL is in the future)
{% endcomment %}
{% if r.eol == true %}
{% assign diff = -1 %}
{% elsif r.eol == false %}
{% assign diff = 1 %}
{% else %}
{% assign diff = r.eol | date: '%s' | plus:0 | minus:now %}
{% endif %}

{% assign diffSupport = support | minus:now %}
{% assign diffSecurity6  = diff | minus:10651938 %}
{% assign diffSupport6  = diffSupport | minus:10651938 %}
{% assign latestVersionNumber = r.latest | liquify %}
{% assign LTSLabel = page.LTSLabel | default: '<abbr title="Long Term Support">LTS</abbr>' %}

{% if r.releaseLabel %}{% assign t=r.releaseLabel%}{%else%}{%assign t=page.releaseLabel | default: '__RELEASE_CYCLE__' %}{%endif%}
{% capture releaseCycleText %}{{t | replace: '__RELEASE_CYCLE__',r.releaseCycle  | replace: '__LATEST__',latestVersionNumber | replace: '__LATEST_SHORT_HAND__',r.latestShortHand | replace: '__CYCLE_SHORT_HAND__',r.cycleShortHand | replace: '__CODENAME__',r.codename | liquify }}{% if r.lts %} ({{LTSLabel}}){% endif %}{% endcapture %}

{% capture releaseLink %}
{% if r.link and diff > 0 %}
{{r.link}}
{% elsif page.changelogTemplate and diff > 0 %}
{{page.changelogTemplate | replace: '__RELEASE_CYCLE__',r.releaseCycle  | replace: '__LATEST__',latestVersionNumber | replace: '__LATEST_SHORT_HAND__',r.latestShortHand | replace: '__CYCLE_SHORT_HAND__',r.cycleShortHand | replace: '__CODENAME__',r.codename}}
{% endif %}
{% endcapture %}
{% assign releaseLink = releaseLink | liquify | strip %}

<!-- Main Row starts here -->
<tr>
  <td>
    {% comment %}Only put a link in the version column if the release column is not shown{% endcomment %}
    {% if releaseLink != "" and page.releaseColumn == false %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog for {{releaseCycleText}}">{{releaseCycleText}}</a>
    {% else %}
      {{releaseCycleText}}
    {% endif %}
  </td>

  {% if page.releaseDateColumn %}
  <td>
    {{r.release | timeago}} <div>({{r.release | date_to_string}})</div>
  </td>
  {% endif %}

  {% if page.discontinuedColumn %}
  <td class="{% unless r.discontinued %}bg-green-000{% endunless %}">
    {% if r.discontinued %}
      {% if r.discontinued == true%}
        Discontinued
      {% else %}
        {{r.discontinued | timeago}} <div>({{r.discontinued | date_to_string}})</div>
      {% endif %}
    {% else %}
      In Production
    {% endif %}
  </td>
  {% endif %}

  {% if page.activeSupportColumn %}
    <td class=
    {% if support > 5 %}
      {% if diffSupport < 0 and r.support != false %}
      "bg-red-000"
      {% elsif diffSupport6 > 0 %}
      "bg-green-000"
      {% else %}
      "bg-yellow-200"
      {% endif %}
    {% else %}
      {% if r.support %}
      "bg-green-000"
      {% else %}
      "bg-red-000"
      {% endif %}
    {% endif %}
    title="{{r.support}}">
    {% if support > 5 %}
      {% if diffSupport < 0 %}
        Ended
      {% else %}
        Ends
      {% endif %}
    {{r.support | timeago}} <div>({{r.support | date_to_string}})</div>
    {% else %}
      {% if r.support %}
      Yes
      {% else %}
      No
      {% endif %}
    {% endif %}
    </td>
  {% endif %}

  <td class=
    {% if securityFixes > 5 %}
      {% if diff < 0 %}
      "bg-red-000"
      {% elsif diffSecurity6 > 0 %}
      "bg-green-000"
      {% else %}
      "bg-yellow-200"
      {% endif %}
    {% else %}
      {% if r.eol %}
      "bg-red-000"
      {% else %}
      "bg-green-000"
      {% endif %}
    {% endif %}
  title="{{r.eol}}">
    {% if securityFixes > 5 %}
      {% if diff < 0 %}
        Ended
      {% else %}
        Ends
      {% endif %}
    {{r.eol | timeago}} <div>({{r.eol | date_to_string}})</div>
    {% else %}
      {% if r.eol %}
      No
      {% else %}
      Yes
      {% endif %}
    {% endif %}
  </td>

  {% if page.releaseColumn != false %}
  <td {% if diff <= 0 %} class = "txt-linethrough" {% endif %} >      <!-- if the support finished add txt-linethrough class -->
    {% if releaseLink != "" %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog">{{latestVersionNumber}}</a>
    {% else %}
      {{latestVersionNumber}}
    {% endif %}
  </td>
  {% endif %}
</tr>
{% endfor %}
</table>

{% if page.iconSlug and page.iconSlug != "NA" %}
<img alt="{{page.title}} Logo" class=productlogo width=50 height=50 src="https://simpleicons.org/icons/{{page.iconSlug}}.svg" >
{% elsif page.iconSlug != "NA" %}
<img alt="{{page.title}} Logo" class=productlogo width=50 height=50 src="https://simpleicons.org/icons{{page.permalink}}.svg" >
{% endif %}

<div class="maincontent">{{content}}</div>
{% if page.releasePolicyLink and page.releasePolicyLink != "" %}
<p>More information is available on the <a href="{{page.releasePolicyLink}}">{{page.title}} website</a>. </p>
{% endif %}

{% if page.releaseColumn != false %}<p>You should be running one of the supported release numbers listed above in the rightmost column.</p>{% endif %}

{% if page.command %}<div id="version-command" class="card card-body bg-light">You can check the version that you are currently using by running: <pre>{{page.command}}</pre></div>{% endif %}

<hr>

You can submit an improvement to this page by
<a href="https://github.com/endoflife-date/endoflife.date/blob/master/{{page.path}}"
title="Click the Pencil, the link takes you directly to the correct page">visiting GitHub</a>.
You will need to fork the website and submit a Pull Request. A JSON version of this page is available at <a href="/api{{page.permalink}}.json">/api{{page.permalink}}.json</a>. See the <a href="/docs/api/">API Documentation</a> for more.
