---
layout: default
---

{% if page.image %}
<img src="{{page.image}}" />
{% endif %}

{% capture now %}{{ "now" | date: "%s" | plus:0 }}{% endcapture %}

<table class="lifecycle">
  <thead>
    <tr>
      <th>Version</th>
      {%if page.releaseDateColumn%}<th>Released</th>{%endif%}
      {%if page.activeSupportColumn%}<th>Active Support</th>{%endif%}
      {%if page.discontinuedColumn%}<th>Discontinued</th>{%endif%}
      <th>{{ page.eolColumn | default: "Security Support" }}</th>
      {%if page.releaseColumn != false %}<th>Release</th>{%endif%}
    </tr>
  </thead>
{% for release in page.releases %}
{% assign r = release[1] %}
{% capture support %}{{r.support | date: '%s' | plus:0}}{%endcapture %}
{% capture securityFixes %}{{r.eol | date: '%s' | plus:0}}{%endcapture %}
<tr>
  <td>
    {{release[0]}}{%if r.lts%} (LTS){%endif%}
  </td>

  {%if page.releaseDateColumn%}
  <td>
    {{r.release|timeago}}
  </td>
  {%endif%}

  {% if page.activeSupportColumn%}
  <td class="{% if support < now %}red{% else if (now-support)>15552000%}green{%else%}amber{%endif%}" title="{{r.support}}">
    {% if support  < now %}Ended{%else%}Ends{%endif%} {{r.support|timeago}}
  </td>
  {%endif%}

  {% if page.discontinuedColumn %}
  <td class="{% unless r.discontinued%}green{%endunless%}">
    {% if r.discontinued %} {{r.discontinued | timeago}}{%else%}In Production{%endif%}
  </td>
  {%endif%}

  <td class="{%if securityFixes != '0'%}{%capture diff%}{{securityFixes|minus:now}}{%endcapture%}{% if securityFixes < now%}red{%else if diff >15552000 %}green{%else%}amber{%endif%}{%endif%}" title="{{r.eol}}">
    {%if securityFixes != "0"%}
      {% if securityFixes  < now %}
        Ended
      {%else%}
        Ends
      {%endif%}
      {{r.eol | timeago}}
    {% elsif r.eol == true %}
      No
    {%else %}
      Yes
    {%endif%}
  </td>

  {%if page.releaseColumn != false %}
  <td>
    {% if securityFixes > now %}{{r.latest}}{%else%}NA{%endif%}
  </td>
  {%endif%}
</tr>
{% endfor %}
</table>

<div class="maincontent">{{content}}</div>

<p>More information is available on the <a href="{{page.link}}">{{page.title}} website</a>. </p>

{%if page.releaseColumn != false %}<p>You should be running one of the supported release numbers listed above in the rightmost column.</p>{%endif%}

{%if page.command%}<p>You can check the version that you are currently using by running: <pre>{{page.command}}</pre></p>{%endif%}
