---
layout: default
---


{% if page.iconUrl %}
<img alt="{{page.title}} Logo" class=productlogo width=50 height=50 src="{{page.iconUrl}}" >
{% endif %}

<div class="description">{{content | extract_element:'blockquote' | first }}</div>

{% if page.releaseImage %}
<img alt="Release Schedule Image Gantt Chart for {{page.title}}" src="{{page.releaseImage}}" />
{% endif %}

<table class="lifecycle">
  <thead>
    <tr>
      {% for h in page.headers %}
      <th>{{h}}</th>
      {% endfor %}
    </tr>
  </thead>

{% for r in page.releases %}

{% assign latestVersionNumber = r.latest | liquify %}
{% assign LTSLabel = page.LTSLabel | default: '<abbr title="Long Term Support">LTS</abbr>' %}

{% if r.releaseLabel %}{% assign t=r.releaseLabel%}{%else%}{%assign t=page.releaseLabel | default: '__RELEASE_CYCLE__' %}{%endif%}
{% capture releaseCycleText %}{{
  t |
  replace: '__RELEASE_CYCLE__',r.releaseCycle  |
  replace: '__LATEST__',latestVersionNumber |
  replace: '__CODENAME__',r.codename |
  liquify
}}{% include ltslabel.html lts=r.lts label=LTSLabel %}{% endcapture %}

{% capture releaseLink %}
{% if r.link and diff > 0 %}
{{r.link}}
{% elsif page.changelogTemplate and diff > 0 %}
{{
  page.changelogTemplate |
  replace: '__RELEASE_CYCLE__',r.releaseCycle |
  replace: '__LATEST__',latestVersionNumber |
  replace: '__CODENAME__',r.codename |
  replace: '__LATEST_RELEASE_DATE__', r.latestReleaseDate
}}
{% endif %}
{% endcapture %}
{% assign releaseLink = releaseLink | liquify | strip %}

<!-- Main Row starts here -->
<tr>
  <td>
    {% comment %}Only put a link in the version column if the release column is not shown{% endcomment %}
    {% if releaseLink != "" and page.releaseColumn == false %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog for {{releaseCycleText | strip_html}}">{{releaseCycleText}}</a>
    {% else %}
      {{releaseCycleText}}
    {% endif %}
  </td>

  {% if page.releaseDateColumn %}
  <td>
    {{r.releaseDate | timeago}} <div>({{r.releaseDate | date_to_string}})</div>
  </td>
  {% endif %}

  {% if page.discontinuedColumn %}
  <td class="{% unless r.discontinued %}bg-green-000{% endunless %}">
    {% if r.discontinued %}
      {% if r.discontinued == true%}
        Discontinued
      {% else %}
        {{r.discontinued | timeago}} <div>({{r.discontinued | date_to_string}})</div>
      {% endif %}
    {% else %}
      In Production
    {% endif %}
  </td>
  {% endif %}

  {% include date-element.html
    field='support'
    enabled=page.activeSupportColumn
    r=r
  %}

  {% include date-element.html
    field='eol'
    enabled=page.eolColumn
    r=r
  %}

  {% if page.releaseColumn != false %}
  <td {% if diff <= 0 %} class = "txt-linethrough" {% endif %} >      <!-- if the support finished add txt-linethrough class -->
    {% if releaseLink != "" %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog">{{latestVersionNumber}}</a>
    {% else %}
      {{latestVersionNumber}}
    {% endif %}
    {% if diff > 0 and r.latestReleaseDate %}
    <div>({{r.latestReleaseDate | date_to_string}})</div>
    {% endif %}
  </td>
  {% endif %}
</tr>
{% endfor %}
</table>

<div class="policytext">
  {{content | remove_first_element:'blockquote'}}
</div>

{%
  include product-footer.html
  releasePolicyLink=page.releasePolicyLink
  title=page.title
  versionCommand=page.versionCommand
  path=page.path
  permalink=page.permalink
  shortlink=page.shortlink
  last_modified_at=page.last_modified_at
  auto=page.auto
%}
