---
layout: default
---

{% if page.releaseImage %}
<img alt="Release Schedule Image Gantt Chart for {{page.title}}" src="{{page.releaseImage}}" />
{% endif %}

{% capture now %}{{ "now" | date: "%s" | plus:0 }}{% endcapture %}

<table class="lifecycle">
  <thead>
    <tr>
      <th>Release</th>
      {% if page.releaseDateColumn%}<th>Released</th>{% endif %}
      {% if page.discontinuedColumn%}<th>Discontinued</th>{% endif %}
      {% if page.activeSupportColumn%}
        <th>
          {% if page.activeSupportColumn == true %}
            Active Support
          {%else%}
            {{page.activeSupportColumn}}
          {%endif%}
        </th>
      {% endif %}
      <th>{{ page.eolColumn | default: "Security Support" }}</th>
      {% if page.releaseColumn != false %}<th>Latest</th>{% endif %}
    </tr>
  </thead>

{% for r in page.releases %}
{% assign support =r.support | date: '%s' | plus:0 %}
{% assign securityFixes = r.eol | date: '%s' | plus:0 %}


{% comment %}
diff is the number of days towards EoL. Positive is in the future. Negative is in the past.
In case we don't have an exact date, we use boolean values (true/false) instead. In such
cases diff is set to -1 for true (EoL has been reached)
or +1 (EoL is in the future)
{% endcomment %}
{% if r.eol == true %}
{% assign diff = -1 %}
{% elsif r.eol == false %}
{% assign diff = 1 %}
{% elsif r.eol == nil %}
{% assign diff = 1 %}
{% else %}
{% assign diff = r.eol | date: '%s' | plus:0 | minus:now %}
{% endif %}

{% assign diffSupport = support | minus:now %}
{% assign diffSecurity6  = diff | minus:10651938 %}
{% assign diffSupport6  = diffSupport | minus:10651938 %}
{% assign latestVersionNumber = r.latest | liquify %}
{% assign LTSLabel = page.LTSLabel | default: '<abbr title="Long Term Support">LTS</abbr>' %}

{% if r.releaseLabel %}{% assign t=r.releaseLabel%}{%else%}{%assign t=page.releaseLabel | default: '__RELEASE_CYCLE__' %}{%endif%}
{% capture releaseCycleText %}{{
  t |
  replace: '__RELEASE_CYCLE__',r.releaseCycle  |
  replace: '__LATEST__',latestVersionNumber |
  replace: '__CODENAME__',r.codename |
  liquify
}}{% include ltslabel.html lts=r.lts label=LTSLabel %}{% endcapture %}

{% capture releaseLink %}
{% if r.link and diff > 0 %}
{{r.link}}
{% elsif page.changelogTemplate and diff > 0 %}
{{
  page.changelogTemplate |
  replace: '__RELEASE_CYCLE__',r.releaseCycle |
  replace: '__LATEST__',latestVersionNumber |
  replace: '__CODENAME__',r.codename |
  replace: '__LATEST_RELEASE_DATE__', r.latestReleaseDate
}}
{% endif %}
{% endcapture %}
{% assign releaseLink = releaseLink | liquify | strip %}

<!-- Main Row starts here -->
<tr>
  <td>
    {% comment %}Only put a link in the version column if the release column is not shown{% endcomment %}
    {% if releaseLink != "" and page.releaseColumn == false %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog for {{releaseCycleText | strip_html}}">{{releaseCycleText}}</a>
    {% else %}
      {{releaseCycleText}}
    {% endif %}
  </td>

  {% if page.releaseDateColumn %}
  <td>
    {{r.releaseDate | timeago}} <div>({{r.releaseDate | date_to_string}})</div>
  </td>
  {% endif %}

  {% if page.discontinuedColumn %}
  <td class="{% unless r.discontinued %}bg-green-000{% endunless %}">
    {% if r.discontinued %}
      {% if r.discontinued == true%}
        Discontinued
      {% else %}
        {{r.discontinued | timeago}} <div>({{r.discontinued | date_to_string}})</div>
      {% endif %}
    {% else %}
      In Production
    {% endif %}
  </td>
  {% endif %}

  {% if page.activeSupportColumn %}
    <td class=
    {% if support > 5 %}
      {% if diffSupport < 0 and r.support != false %}
      "bg-red-000"
      {% elsif diffSupport6 > 0 %}
      "bg-green-000"
      {% else %}
      "bg-yellow-200"
      {% endif %}
    {% else %}
      {% if r.support %}
      "bg-green-000"
      {% else %}
      "bg-red-000"
      {% endif %}
    {% endif %}
    title="{{r.support}}">
    {% if support > 5 %}
      {% if diffSupport < 0 %}
        Ended
      {% else %}
        Ends
      {% endif %}
    {{r.support | timeago}} <div>({{r.support | date_to_string}})</div>
    {% else %}
      {% if r.support %}
      Yes
      {% else %}
      No
      {% endif %}
    {% endif %}
    </td>
  {% endif %}

  <td class=
    {% if securityFixes > 5 %}
      {% if diff < 0 %}
      "bg-red-000"
      {% elsif diffSecurity6 > 0 %}
      "bg-green-000"
      {% else %}
      "bg-yellow-200"
      {% endif %}
    {% else %}
      {% if r.eol %}
      "bg-red-000"
      {% else %}
      "bg-green-000"
      {% endif %}
    {% endif %}
    {% if securityFixes > 5 %}
      title="{{r.eol}}">
      {% if diff < 0 %}
        Ended
      {% else %}
        Ends
      {% endif %}
    {{r.eol | timeago}} <div>({{r.eol | date_to_string}})</div>
    {% else %}
      >
      {% if r.eol %}
      No
      {% else %}
      Yes
      {% endif %}
    {% endif %}
  </td>

  {% if page.releaseColumn != false %}
  <td {% if diff <= 0 %} class = "txt-linethrough" {% endif %} >      <!-- if the support finished add txt-linethrough class -->
    {% if releaseLink != "" %}
      <a href="{{releaseLink}}" title="Release Notes / Changelog">{{latestVersionNumber}}</a>
      &ensp;
      <a href="http://www.google.com/calendar/render?action=TEMPLATE\
&text=[endoflife.date] {{page.title}} EOL reached\
&dates={{r.eol | replace='-',''}}T000000/{{r.eol | replace='-',''}}T000000\
&details=It will be end of support for  {{page.title}} {{releaseCycleText}}\
&trp=false\
&sprop=\
&sprop=name:" target="_blank" rel="nofollow">
<img alt="0" src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Simpleicons_Business_calendar-with-plus-sign.svg" width="20" height="20">
      </a>
    {% else %}
      {{latestVersionNumber}}
    {% endif %}
  </td>
  {% endif %}
</tr>
{% endfor %}
</table>

{% if page.iconSlug and page.iconSlug != "NA" %}
<img alt="{{page.title}} Logo" class=productlogo width=50 height=50 src="https://simpleicons.org/icons/{{page.iconSlug}}.svg" >
{% elsif page.iconSlug != "NA" %}
<img alt="{{page.title}} Logo" class=productlogo width=50 height=50 src="https://simpleicons.org/icons{{page.permalink}}.svg" >
{% endif %}

<div class="maincontent">{{content}}</div>
{% if page.releasePolicyLink and page.releasePolicyLink != "" %}
<p>More information is available on the <a href="{{page.releasePolicyLink}}">{{page.title}} website</a>. </p>
{% endif %}

{% if page.releaseColumn != false %}<p>You should be running one of the supported release numbers listed above in the rightmost column.</p>{% endif %}

{% if page.versionCommand %}<div id="version-command" class="card card-body bg-light">You can check the version that you are currently using by running: <pre>{{page.versionCommand}}</pre></div>{% endif %}

<hr>

<p>You can submit an improvement to this page
<a href="https://github.com/endoflife-date/endoflife.date/blob/master/{{page.path}}"
title="Click the Pencil, the link takes you directly to the correct page">on GitHub</a>
<img class="emoji" title=":octocat:" alt=":octocat:" src="https://github.githubassets.com/images/icons/emoji/octocat.png" width="20" height="20">
. This page has a corresponding <a title="Talk Page for {{page.title}}" href="https://github.com/endoflife-date/talk/wiki{{page.permalink}}">Talk Page</a>.</p>

<p>A JSON version of this page is available at <a href="/api{{page.permalink}}.json">/api{{page.permalink}}.json</a>. See the <a href="/docs/api/">API Documentation</a> for more.</p>

{%if page.auto %}Latest releases on this page are automatically updated{% endif %}
