name: Sync master to release

on:
  workflow_dispatch: # Manually run workflow
  push:
    branches:
      - master

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Github token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: release
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Merge master into release
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin master
          git merge origin/master --no-edit
          git push origin release
